.mainTitle{
  text-align: center;
  color: #007fc3;
  font-size: 2rem;
  margin: 20px 0;
}
.alert{
  color: rgb(180, 5, 5)
}
.block{
  display: block;
}
.wrapper{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: end;
  margin: 20px 40px;
}

.inputBox{
  padding: 10px;
  border: 1px solid #007fc3;
  border-radius: 10px;
  margin: 10px 0 0;
}

.setButton{
  background-color: #007fc3;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.chart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.currentThreshold{
  background: #007fc3;
  padding: 8px 10px 9px;
  margin: 10px 0;
  border-radius: 10px;
  color: #fff;
}